<div class="wrapper" *ngIf="user">

    <mat-card class="user-card" appearance="outlined">
        <mat-card-header>
            <img mat-card-avatar class="example-header-image" [src]="['https://ui-avatars.com/api/?name='+user.email]">
            <mat-card-title>{{user.firstName}} {{user.lastName}}</mat-card-title>
            <mat-card-subtitle>
                <p class="no-border">Total orders: {{user.orders.length}}</p>
                <p class="no-border">Destination: {{user.favouriteDestination}}</p>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="user-card-content">
            <mat-accordion multi>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <i class="fa-solid fa-key"></i>&nbsp;Change Password
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-form-field class="full-width">
                        <mat-label>Old password</mat-label>
                        <input matInput type="password" [(ngModel)]="oldPasswordValue" />
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>New password</mat-label>
                        <input matInput type="password" [(ngModel)]="newPasswordValue" />
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Repeat password</mat-label>
                        <input matInput type="password" [(ngModel)]="repeatPasswordValue" />
                    </mat-form-field>
                    <button mat-button (click)="doChangePassword()">
                        <i class="fa-solid fa-paper-plane"></i> Sumbit
                    </button>
                </mat-expansion-panel>
                <mat-expansion-panel *ngIf="userCopy">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <i class="fa-solid fa-user-tag"></i>&nbsp;Update profile
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-form-field class="full-width">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" [(ngModel)]="userCopy.email" disabled />
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>First Name</mat-label>
                        <input matInput type="text" [(ngModel)]="userCopy.firstName" />
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Last Name</mat-label>
                        <input matInput type="text" [(ngModel)]="userCopy.lastName" />
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Phone</mat-label>
                        <input matInput type="tel" [(ngModel)]="userCopy.phone" />
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Address</mat-label>
                        <input matInput type="text" [(ngModel)]="userCopy.address" />
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Select Favourite Destination</mat-label>
                        <mat-select [(ngModel)]="userCopy.favouriteDestination">
                            <mat-option *ngFor="let dest of destinationList" [value]="dest">
                                {{dest}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-button (click)="doUpdateUser()">
                        <i class="fa-solid fa-paper-plane"></i> Update
                    </button>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card-content>
    </mat-card>

    <mat-card appearance="outlined" *ngIf="user.orders.length == 0" class="no-order">
        <mat-card-content>
            <h1>You have no orders yet!</h1>
            <p>To place an order visit the <a routerLink="/searh" class="cyan">search page</a></p>
        </mat-card-content>
    </mat-card>

    <div *ngIf="user.orders.length > 0">
        <div *ngIf="user.orders">
            <h1>Order List</h1>
            <table mat-table [dataSource]="user.orders" class="mat-elevation-z8">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef class="id">
                        <i class="fa-solid fa-hashtag"></i> ID
                    </th>
                    <td mat-cell *matCellDef="let element" class="id"> {{element.flightId}} </td>
                </ng-container>

                <ng-container matColumnDef="destination">
                    <th mat-header-cell *matHeaderCellDef>
                        <i class="fa-solid fa-map-location-dot"></i> Destination
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.destination}} </td>
                </ng-container>

                <ng-container matColumnDef="flightNumber">
                    <th mat-header-cell *matHeaderCellDef class="number">
                        <i class="fa-solid fa-plane-circle-exclamation"></i> Flight Number
                    </th>
                    <td mat-cell *matCellDef="let element" class="number">
                        {{element.flightNumber}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="airline">
                    <th mat-header-cell *matHeaderCellDef class="airline">
                        <i class="fa-solid fa-plane"></i> Airline
                    </th>
                    <td mat-cell *matCellDef="let element" class="airline">
                        {{element.airline.name}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="count">
                    <th mat-header-cell *matHeaderCellDef class="count">
                        <i class="fa-solid fa-arrow-up-wide-short"></i> Count
                    </th>
                    <td mat-cell *matCellDef="let element" class="count">
                        {{element.count}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef class="price">
                        <i class="fa-solid fa-tag"></i> Price Per Ticket
                    </th>
                    <td mat-cell *matCellDef="let element" class="price">
                        {{element.pricePerItem}} <i class="fa-solid fa-euro-sign"></i>
                    </td>
                </ng-container>

                <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef class="total">
                        <i class="fa-solid fa-hand-holding-dollar"></i> Total
                    </th>
                    <td mat-cell *matCellDef="let element" class="total">
                        {{element.pricePerItem*element.count}} <i class="fa-solid fa-euro-sign"></i>
                    </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>
                        <i class="fa-regular fa-chart-bar"></i> Status
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="element.status == 'paid' && element.rating == null">
                            Paid
                        </div>
                        <div *ngIf="element.status == 'paid' && element.rating == true">
                            Liked
                        </div>
                        <div *ngIf="element.status == 'paid' && element.rating == false">
                            Disliked
                        </div>
                        <div *ngIf="element.status == 'ordered'">
                            Ordered
                        </div>
                        <div *ngIf="element.status == 'canceled'">
                            Canceled
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>
                        <i class="fa-solid fa-location-arrow"></i> Actions
                    </th>
                    <td mat-cell *matCellDef="let element" class="actions">
                        <a mat-button [routerLink]="['/details/', element.flightId]">
                            <i class="fa-solid fa-arrow-up-right-from-square"></i>
                            <span class="link-name">Details</span>
                        </a>
                        <div *ngIf="element.status == 'ordered'">
                            <button type="button" mat-button (click)="doPay(element)">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <span class="link-name">Pay</span>
                            </button>
                            <button type="button" mat-button (click)="doCancel(element)">
                                <i class="fa-solid fa-ban"></i>
                                <span class="link-name">Cancel</span>
                            </button>
                        </div>
                        <div *ngIf="element.status == 'paid' && element.rating == null">
                            <button type="button" mat-button (click)="doRating(element, true)">
                                <i class="fa-solid fa-thumbs-up"></i>
                                <span class="link-name">Like</span>
                            </button>
                            <button type="button" mat-button (click)="doRating(element, false)">
                                <i class="fa-solid fa-thumbs-down"></i>
                                <span class="link-name">Dislike</span>
                            </button>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>