html,
body {
    height: 100%;
    background-color: #1e2124;
    color: white;
}

a {
    color: gray;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.example-card {
    max-width: 400px;
}

.loading {
    text-align: center;
    width: 600px;
    height: 300px;
    align-items: center;
}

.wrapper {
    margin-top: 30px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}